In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)

In [2]:
df = pd.concat([
    pd.read_csv("rosters/compsci-c100-2022-D_rosters.csv"),
    pd.read_csv("rosters/compsci-c200a-2022-D_rosters.csv")
])
# Select only the needed columns for lecture
df = df[["Name", "Role", "Majors", "Terms in Attendance"]]
# Drop last name.
df['Name'] = df['Name'].str.split(",").str[1].str.strip()
# Drop middle name
df['Name'] = df['Name'].str.split(" ").str[0]

# add #REF
ref_df = pd.DataFrame([["#REF!"] * len(df.columns)], columns=df.columns)
df = pd.concat([df, ref_df])
df.head(10)

,Name,Role,Majors,Terms in Attendance
0,Sarah,Student,"Applied Mathematics BA, Data Science BA",8
1,Tahir,Student,Letters & Sci Undeclared UG,5
2,Chase,Student,Letters & Sci Undeclared UG,7
3,Jerry,Student,Applied Mathematics BA,8
4,Saroj,Student,Data Science BA,8
5,Catherine,Student,Letters & Sci Undeclared UG,8
6,Isaac,Student,Letters & Sci Undeclared UG,3
7,Charles,Student,"Business Administration BS, Data Science BA, L...",7
8,Yehchan,Student,"Political Economy BA, Statistics BA",6
9,Jaewon,Student,Computer Science BA,5

## Export Just Major and Terms in Attendance

In [3]:
df.sample(frac=1)[["Majors", "Terms in Attendance"]].to_csv("majors.csv", index=False)

## Reorder the data to put more common names at the top

In [4]:
ct_col = df.merge(df['Name'].value_counts().rename("Count"), how="left", left_on="Name", right_index=True)["Count"]
ordering_col = 5*np.random.randn(ct_col.shape[0]) + ct_col

In [5]:
df["Order"] = ordering_col
final = df.sort_values("Order", ascending=False).reset_index(drop=True)[["Name", "Role"]]

## Corrupt the Data

In [6]:
final.iloc[3,0] = final.iloc[3,0].upper()
final.iloc[7,0] = final.iloc[7,0].upper()

In [7]:
final.head(10)

     Name     Role
0    Sean  Student
1    Ryan  Student
2   Jason  Student
3  ANDREW  Student
4  Victor  Student
5  Manuel  Student
6   David  Student
7    ANDY  Student
8   Beiqi  Student
9    Ryan  Student

## Save the data

In [8]:
final.to_csv("names.csv",index=False)